In [1]:
import pandas as pd
surveys_df = pd.read_csv('C:/Users/Python Solutions/surveys.csv')

In [2]:
type(surveys_df)

pandas.core.frame.DataFrame

In [3]:
surveys_df['sex'].dtype

dtype('O')

In [4]:
surveys_df['record_id'].dtype

dtype('int64')

In [5]:
surveys_df.dtypes

record_id            int64
month                int64
day                  int64
year                 int64
plot_id              int64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

In [6]:
print(10+5)
print(7+88)
print(5/9)
print(7/55)

15
95
0.5555555555555556
0.12727272727272726

In [7]:
b=7.44
int(b)

7

In [8]:
b=8
float(b)

8.0

In [9]:
surveys_df['record_id']=surveys_df['record_id'].astype('float64')
surveys_df['record_id'].dtype

dtype('float64')

In [10]:
surveys_df['weight'].mean()

42.672428212991356

In [11]:
len(surveys_df[pd.isnull(surveys_df.weight)])

3266

In [12]:
len(surveys_df[surveys_df.weight> 0])

32283

In [13]:
df1 = surveys_df.copy()
df1['weight'] = df1['weight'].fillna(0)
df1['weight'].mean()

38.751976145601844

In [14]:
df1['weight'] = surveys_df['weight'].fillna(surveys_df['weight'].mean())
df1['weight']

0        42.672428
1        42.672428
2        42.672428
3        42.672428
4        42.672428
           ...
35544    42.672428
35545    42.672428
35546    14.000000
35547    51.000000
35548    42.672428
Name: weight, Length: 35549, dtype: float64

In [15]:
surveys_df[surveys_df.weight >0]['weight'].count()

32283

In [16]:
surveys_df = pd.read_csv('C:/Users/Python Solutions/surveys.csv')
df_na = surveys_df.dropna()
df_na

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
62,63,8,19,1977,3,DM,M,35.0,40.0
63,64,8,19,1977,7,DM,M,37.0,48.0
64,65,8,19,1977,4,DM,F,34.0,29.0
65,66,8,19,1977,4,DM,F,35.0,46.0
66,67,8,19,1977,7,DM,M,35.0,36.0
...,...,...,...,...,...,...,...,...,...
35540,35541,12,31,2002,15,PB,F,24.0,31.0
35541,35542,12,31,2002,15,PB,F,26.0,29.0
35542,35543,12,31,2002,15,PB,F,27.0,34.0
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0

In [20]:
df_na.to_csv('C:/Users/SKYLINK-COMPUTER/Desktop/YEARLYFILES', index=False)

PermissionError: [Errno 13] Permission denied: 'C:/Users/SKYLINK-COMPUTER/Desktop/YEARLYFILES'